{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mesures</h1>

    {{ form_start(formMesure) }}

    {{ form_row(formMesure.poids) }}
    {{ form_row(formMesure.masseGraisseuse) }}
    {{ form_row(formMesure.masseMusculaire) }}
    
    <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(formMesure) }}
{% endblock %}